[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
django-highcharts-series = {editable = true, path = "./Django_HighCharts"}

[requires]
python_version = "3.8"
